/** @format */

$color: #800080;
$bg-collor: #7f95d1;
$media-sm: 425px;
$media-md: 768px;
$media-lg: 1024px;
$bg-gradient: linear-gradient(
  to top,
  #9e7641,
  #a36c25,
  #478a3e,
  #559c4c,
  #4db456,
  #2ec9bc,
  #2ec9bc,
  #2ec9bc,
  #2ec9bc,
  #2ec9bc,
  #2ea5c9,
  #2e76c9,
  #4153b6,
  #303e9b,
  #1d2252
);
$border-top-left-radius: 7em;
$border-top-right-radius: 7em;
$border-bottom-left-radius: 3em;
$border-bottom-right-radius: 3em;
$border-radius: 50%;
$media-sm: 425px;
$media-md: 768px;
$media-lg: 1024px;
